/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 54px;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s;  
    transform: translateX(100%);
    border-left: 1px solid;
}