<h1>Login</h1>
<p>
<form method="post">
    <p>{{ErrorMessage}}</p>
    <p>Username : <input name="username"></input></p>
    <p>Password : <input name="password" type="password"></input></p>
    <button type="submit">Login</button>
</form>
</p>