/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 54px;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s;  
    transform: translateX(100%);
    border-left: 1px solid;
}

.overlay-content {
        margin-left: 35px; /* 0 width - change this with JavaScript */
        padding: 30px;
    }

.sidenav_expand_detail {
    height: 100%; /* 100% Full-height */
    width: 35px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0px;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.3s;   
}

.filter-button-detail {
    color: white;
    background-color: black;
    margin-top: 24px;
    margin-left: 10px;
}

.detail-header-row {
    padding-bottom: 20px;
    border-bottom: 6px solid grey;
}

.detail-board-name {
    font-size: 3em;
}

.detail-board-short-description {
    font-size: 2em;
}

.board-image-detail {
    min-height: 600px;
    
}

.board-detail-column {
    font-size: 1.2em;
    padding: 40px;
}

.board-size-row {
    padding-top: 40px;
}

.board-size-header {
    font-size: 2em;
    border-bottom: 3px solid grey;
}